.header {
  padding: 20px 0;
  transition: 0.2s all ease;
  z-index: 999;

  .logo {
    max-width: 150px;
    width: 100%;
    transition: 0.3s all ease;
  }

  .navbar {
    padding-right: 76px;

    ul {
      gap: 26px;

      li {
        a {
          font-family: $poppins-semibold;
          font-size: 15px;
          color: $text-color;
          padding: 10px;

          span {

            position: relative;

            &::before {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              display: block;
              width: 100%;
              height: 2px;
              background-color: $primary-color;
              -webkit-transform: scaleX(.3);
              transform: scaleX(.3);
              opacity: 0;
              transition: all .3s
            }
          }

          &:hover span::before {
            opacity: 1;
            background-color: $primary-color;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
            transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
          }

          &.active {
            color: $primary-color;

            span {

              &::after {
                position: absolute;
                content: "";
                background-color: $primary-color;
                height: 2px;
                width: 100%;
                left: 0;
                bottom: -5px;
              }

            }
          }
        }

      }
    }
  }

  .buy-btn {
    gap: 8px;
  }

  .toggler-btn {
    .bar-icon {
      width: 28px;

      span {
        height: 2px;
        background-color: $text-color;
      }
    }

  }

  .offcanvas {
    background-color: $global-white;
    height: 100vh !important;
    max-width: 400px;
    width: 100%;

    .offcanvas-header {
      .btn-close {
        font-size: 20px;

        &:active {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .offcanvas-contents {
      a {
        font-family: $poppins-semibold;
        border-radius: 10px;

        &:hover {
          background-color: $offcanvas-hover;
        }
      }
    }
  }

  &.fixed {
    background-color: $global-white;
    padding: 8px 0;
    box-shadow: $box-shadow-primary-color;

    .logo {
      scale: 0.8;
    }

    .buy-btn {
      scale: 0.9;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    .logo {
      max-width: 116px;
    }
  }

  .hidden-nav-logo {
    max-width: 116px;
  }
}