.header {
  padding: 20px 0;
  transition: 0.2s all ease;
  z-index: 999;

    .logo {
      max-width: 150px;
      width: 100%;
      transition: 0.3s all ease;
    }

    .navbar {
      padding-right: 76px;

      ul {
        gap: 26px;

        li {
          a {
            font-family: $poppins-semibold;
            font-size: 15px;
            color: $text-color;
            padding: 10px;
          }
        }
      }
    }

    .buy-btn {
      gap: 8px;
    }

  .toggler-btn {
    .bar-icon {
      width: 28px;

      span {
        height: 2px;
        background-color: $text-color;
      }
    }

  }

  .offcanvas {
    background-color: $global-white;
    height: 100vh !important;
    max-width: 400px;
    width: 100%;

    .offcanvas-header {
      .btn-close {
        font-size: 20px;
        &:active{
          outline: none;
          box-shadow: none;
        }
      }
    }

    .offcanvas-contents {
      a {
        font-family: $poppins-semibold;
        border-radius: 10px;
        &:hover{
          background-color: $offcanvas-hover;
        }
      }
    }
  }
  &.fixed {
    background-color: $global-white;
    padding: 0;
    box-shadow: $first-box-shadow;
    .logo{
      scale: 0.8;
    }
    .buy-btn{
      scale: 0.8;
    }
  }
}
@media screen and (max-width: 576px) {
  .header{
    .logo{
      max-width: 116px;
    }
  }
  .hidden-nav-logo{
    max-width: 116px;
  }
}