.hero-section {
    background-image: url(../../images/hero-bg.png);
    background-repeat: no-repeat;
    height: 932px;
    .hero-text {
        top: 50%;
        transform: translateY(-50%);
        h1 {
            margin-bottom: 36px;
        }

        p {
            margin-bottom: 26px;
        }
        .primary-btn{
            padding: 8px 22px;
            i{
                font-size: 20px;
            }
        }
    }

    .hero-circle {
        width: 28px;
        top: 15%;
        left: 40%;
        animation: moveCircle 8s infinite alternate;
    }

    .hero-square {
        width: 28px;
        bottom: 35%;
        left: 37%;
        animation: moveSquare 8s infinite alternate;
    }

    .hero-triangle {
        width: 28px;
        top: 25%;
        left: 53%;
        animation: moveTriangle 8s infinite alternate;
    }

    @keyframes moveCircle {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(20px, 0);
        }

        50% {
            transform: translate(20px, 20px);
        }

        75% {
            transform: translate(0, 20px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes moveSquare {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-20px, 0);
        }

        50% {
            transform: translate(-20px, -20px);
        }

        75% {
            transform: translate(0, -20px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes moveTriangle {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(20px, -20px);
        }

        50% {
            transform: translate(-20px, -20px);
        }

        75% {
            transform: translate(-20px, 20px);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}

.small-feature {
    padding-bottom: 50px;

    .feat-text {
        p {
            padding: 32px 0;
        }
    }

    .feature-list {
        gap: 32px;

        li {
            gap: 6px;
            font-family: $poppins-semibold;
            font-size: 14px;

            .feature-icon {
                width: 24px;

            }
        }

    }
}


.products-wrapper {
    .filter {
        gap: 10px;
        margin-bottom: 46px;

        a {
            padding: 10px 20px;
            font-family: $poppins-semibold;
            font-size: $paragraph-font-size;

            &.active {
                color: $secondary-text-color;

                span {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        background-color: $secondary-text-color;
                        height: 2px;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .product-list {
        padding: 36px 0;
        background-color: #F4FAFB;

        .row {
            row-gap: 32px;

            .col-lg-4 {
                display: flex;
            }
        }

        .product-card {
            display: flex;
            max-width: 361px;
            padding: 22px;
            border-radius: 20px;
            background: #fff;
            transition: 0.3s all ease;

            .product-img {
                max-width: 316px;
                width: 100%;
                height: 306px;
            }

            &:hover {
                box-shadow: $first-box-shadow;
            }
            p{
                font-family: $poppins-semibold;
            }
        }
    }   
}

.is-animated {
    animation: .6s zoom-in;
}

@keyframes zoom-in {
    0% {
        transform: scale(.1);
    }

    100% {
        transform: none;
    }
}
.feature-section{
    padding: 86px 0;
    background-image: url(../../../images/feature-bg.png);
    background-repeat: no-repeat;
    background-color: #F8FEFE;
    h3{
        width: 80%;
        margin: auto;
    }
    .feature-card{
        max-width: 334px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        background-color: #fff;
        padding: 28px 36px;
        margin-top: 70px;
        h4{
            margin-top: 16px;
        }
        .feature-icon{
            width: 64px;
            margin-top: -62px;
        }
        .seo-icon{
            margin-top: -56px;
        }
    }
}
.testimonial-section{
    padding: 80px 0;
    background-color: #FFF8F2;
    .testi-slider{
        .btn-for-slider{
            .prev-btn, .next-btn{
                cursor: pointer;
                padding: 15px;
                i{
                    font-size: 24px;
                }
            }
        }
        .slider-main{
            .slide-card{
                max-width: 422px;
                border: 1px solid rgba(215, 37, 0, 0.38);
                border-radius: 8px;
                background-color: #fff;
                padding: 20px 56px;
                .star-wrapper{
                    i{
                        color: #F1F52A;
                    }
                }
                h4{
                    padding: 14px 0;
                }
                p{
                    color: #6A6A6A;
                }
                span{
                    font-family: $poppins-itallic;
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
    }
}
.blog-section{
    padding: 56px 0 ;
    background-color: rgba(248, 254, 254, 0.33);
    background-image: url(../../images/blog-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    .blog-wrapper{
        .btn-for-slider{
            .prev-blog-btn, .next-blog-btn{
                cursor: pointer;
                padding: 15px;
                i{
                    font-size: 24px;
                }
            }
        }
        .blog-slider-1{
            padding: 30px 0;
            .blog-card{
                max-width: 340px;
                width: 100%;
                background-color: #fff;
                box-shadow: $first-box-shadow;
                border-radius: 12px;
                .blog-text{
                    padding: 10px 23px;
                    span{
                        font-family: $montserrat-font;
                        color: $primary-color;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    h4{
                        margin-top: 12px;
                        margin-bottom: 23px
                    }
                }
            }
        }
        
    }
}