@font-face {
    font-family: 'montserrat';
    src:url('../../dist/css/fonts/montserrat/Montserrat-VariableFont_wght.woff') format('woff'),
        url('../../dist/css/fonts/montserrat/Montserrat-VariableFont_wght.woff2') format('woff2'),
        url('../../dist/css/fonts/montserrat/Montserrat-VariableFont_wght.svg#Montserrat-VariableFont_wght') format('svg'),
        url('../../dist/css/fonts/montserrat/Montserrat-VariableFont_wght.eot'),
        url('../../dist/css/fonts/montserrat/Montserrat-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('../../dist/css/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');

    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-regular';
    src:url('../../dist/css/fonts/Poppins-Regular/Poppins-Regular.woff') format('woff'),
        url('../../dist/css/fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2'),
        url('../../dist/css/fonts/Poppins-Regular/Poppins-Regular.svg#Poppins-Regular') format('svg'),
        url('../../dist/css/fonts/Poppins-Regular/Poppins-Regular.eot'),
        url('../../dist/css/fonts/Poppins-Regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../dist/css/fonts/Poppins-Regular/Poppins-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-semiBold';
    src:url('../../dist/css/fonts/Poppins-SemiBold/Poppins-SemiBold.woff') format('woff'),
        url('../../dist/css/fonts/Poppins-SemiBold/Poppins-SemiBold.woff2') format('woff2'),
        url('../../dist/css/fonts/Poppins-SemiBold/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
        url('../../dist/css/fonts/Poppins-SemiBold/Poppins-SemiBold.eot'),
        url('../../dist/css/fonts/Poppins-SemiBold/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../dist/css/fonts/Poppins-SemiBold/Poppins-SemiBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poppins-italic';
    src:url('../../dist/css/fonts/Poppins-Italic/Poppins-Italic.woff') format('woff'),
        url('../../dist/css/fonts/Poppins-Italic/Poppins-Italic.woff2') format('woff2'),
        url('../../dist/css/fonts/Poppins-Italic/Poppins-Italic.svg#Poppins-Italic') format('svg'),
        url('../../dist/css/fonts/Poppins-Italic/Poppins-Italic.eot'),
        url('../../dist/css/fonts/Poppins-Italic/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../dist/css/fonts/Poppins-Italic/Poppins-Italic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$primary-color: #D72500;
$text-color: #293B5F;
$secondary-text-color: #00A59B;
$montserrat-font: "montserrat";
$poppins-regular: "poppins-regular";
$poppins-semibold: "poppins-semiBold";
$poppins-itallic: "poppins-italic";
$h1-font-size: 56px;
$h2-font-size: 36px;
$h3-font-size: 32px;
$h4-font-size: 18px;
$paragraph-font-size: 16px;
$first-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
$second-drop-shadow: 2px 2px 10.4px rgba(0, 0, 0, 0.25);
