.product-details{
    padding-top: 126px;
    p{
        color: #939393;
        margin-bottom: 16px;
    }
    .main-text{
        gap: 22px;
        .head-divider{
            width: 36px;
            height: 2px;
            background-color: $text-color;
        }
    }
    .desc-divider{
        width: 100%;
        background-color: #D9D9D9;
        height: 1px;
    }
    .product-description-wrapper{
        margin-top: 36px;
        .product-thumb{
            border: 1px solid #D9D9D9;
            padding: 36px;
            border-radius: 16px;
        }
    }
}